/* ============== GLOBAL STYLES ================== */

@font-face {
    font-family: 'graphik-medium';
    src: url("../fonts/Graphik-Medium.ttf");
}

@font-face {
    font-family: 'theinhardt';
    src: url("../fonts/Theinhardt-Lt.woff");
}

@font-face {
    font-family: 'TiemposHeadline';
    src: url("../fonts/TiemposHeadline-Semibold.woff");
}

@font-face {
    font-family: 'graphik-regular';
    src: url("../fonts/Graphik-Regular.woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav a {
    text-decoration: none;
    color: black;
    font-family: "graphik-medium";
}

.navStyle {
    padding-top: 3.3vh;
    word-spacing: 2vw;
}

.headline {
    display: flex;
    justify-content: space-around;
    height: 25vh;
}

.styleHeadline article h1{
    padding-right: 25vw;
    padding-top: 2.8vh;
    font-family: "TiemposHeadline";
}

.styleHeadline article p{
    padding-top: 3vh;
    border: 1px solid black;
    margin-top: 2.7vh;
    padding: 0.7vh 3vw;
    font-family: "graphik-regular";
}

.styleHeadline article p:hover {
    background-color: black;
    color: white;
}

.styleHeadline article {
    display: flex;
    justify-content: space-around;
}

/* ============== Main First Section with IMG ================== */

.imageOne {
    background-image: url("../img/home_hero.png");
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.imageOne h2 {
    text-align: center;
    font-family: "graphik-regular";
}

/* ============== Main Second Section ( range of offers / price)================== */

.rangeOfOffers {
    padding-top: 10vh;
    display: flex;
}

.rangeOfOffers p:nth-of-type(1) {
    width: 47vw;
    padding-left: 5vw;
    font-family: "graphik-medium";
    line-height: 1.5rem;
}

.rangeOfOffers p:nth-of-type(2) {
    padding-left: 6vw;
    width: 19vw;
    color: rgb(181, 183, 187);
}

.fontSize {
    font-size: 3rem;
    color: black;
}

/* ============== Main Third Section (imgage + text) ================== */

.styleThirdSection {
    display: flex;
    padding-top: 15vh;
    justify-content: center;
}

.imageDeliverables {
    max-width: 30vw;  
}

.styleDeliverables {
    padding-left: 2vw;
}

.styleDeliverables h2 {
    font-size: 2rem;
    font-family: "TiemposHeadline";
    padding-bottom: 5vh;
}

.styleDeliverables h3 {
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.styleDeliverables p {
    padding-bottom: 1vh;
    color:  #848689;
    max-width: 39.6vw;
}

/* ============== Main Fourth Section (text + image) ================== */

.styleFourthSection {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 244);
    margin-top: 10vh; 
    margin: 10vh 12vw;
}

.imageFourthSection {
    max-width: 30vw;
}

.styleFourthSection h2 {
    font-family: "TiemposHeadline";
    padding-top: 6vh;
    padding-bottom: 3vh;
    font-size: 2rem;
}

ol {
    width: 28vw;
    color:  #848689;
}

ol li {
    margin-left: 4vw;
}

.styleFourthSectionP p {
    font-family: "theinhardt";
    color: #848689;
    width: 38vw;
    padding-bottom: 6vh;
}

/* ============== Main Fifth Section (number + imgage + text) ================== */


.styleFifthSection h2 {
    font-family: "TiemposHeadline";
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2vh;
}

.styleFifthSection p {
    font-family: "heinhardt";
    color: #848689;
    text-align: center;
    line-height: 1.5rem;
}

.distanceToTwentyEight {
    padding-bottom: 10vh;
}

.imageTwentyEightArea {
   background-image: url("../img/28.png");
   background-size: cover;
   background-position: center;
   height: 38vh;
   position: relative;
}

.textBellowTwentyEight p{
   text-align: left;
   padding-left: 21vw;
   font-family: "graphik-medium";
   color: #848689;
}

.imageTwentyEightArea img {
    position: absolute;
    width: 35vw;
    top: 22vh;
    left: 51vw;
}

.imageTwentyEightArea p {
    border-bottom: 2px solid black;
}

.textBellowTwentyEight p:nth-of-type(2) {
    padding-top: 9vh;
    border-bottom: 1px solid rgb(181, 183, 187);
    margin: 0 5vw;
}


/* ============== footer ================== */

footer {
    padding-top: 10vh;
}

footer h2 {
    text-align: center;
    font-family: "TiemposHeadline";
    font-size: 3rem;
}

.contactEmail {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: "graphik-medium";
}

.styleEmail {
    font-weight: bolder;
}

.darkTheme {
    text-align: center;
    padding-bottom: 10vh;
}

.darkTheme button {
    padding: 2vh 4vw;
    font-size: larger;
}


/* ============== Responsiveness Mobile Devices ================== */

@media only screen and (max-width: 450px) {
    .navStyle {
        word-spacing: 10vw;
        text-align: center;
    }

    .styleHeadline article p{
        margin: 3vh 30vw; 
        padding: 1vh 0;
    }

    .headline {
        display: block;     
    }

    .styleHeadline article {
        display: block;
        text-align: center;
    }

    .styleHeadline article h1{
       padding-left: 25vw;
    }

    .imageOne {
        height: 30vh;
    }

    .imageOne h2 {
        text-align: left;
        font-size: 0.9rem;
        text-align: center;
    }

    .imageDeliverables {
        max-width: 50vw;
        height: 99vh;  
        padding-left: 5vw;
    }
    
    .styleDeliverables h2 {
        font-size: 1.5rem;
    }

    .styleDeliverables {
        padding-left: 6vw;
    }

    .imageFourthSection {
        max-width: 80vw;
       
    }

    ol {
        padding-left: 2vw;
        width: 79vw;
        color:  #848689;
    }
    

    .styleFourthSection {
        display: block;
        margin: 10vh 7vw;
    }

    .styleFourthSection h2{
        text-align: center;
    }

    .styleFourthSectionP p {   
        width: 88vw;
        padding-left: 2vw;
    }

    .styleFifthSection p {
        padding-bottom: 2vh;
    }

    .imageTwentyEightArea {
        height: 15vh;
        
     }
     
     .textBellowTwentyEight p{
        padding-left: 3vw;    
     }
     
     .imageTwentyEightArea img {
         top: 8vh;     
     }

     .textBellowTwentyEight p:nth-of-type(2) {
        padding-top: 4vh;
    }

    .contactEmail {
        padding-left: 10vw;
    }

    .rangeOfOffers p:nth-of-type(2) {
        padding-left: 7vw;
        width: 46vw;
    }
}